body {
  font-family: Arial;
  background:#0b1220;
  color:white;
  padding:20px;
}
input,button {
  padding:10px;
  margin:5px;
}
button {
  background:#2de38f;
  border:none;
  cursor:pointer;
}
table {
  width:100%;
  border-collapse:collapse;
}
td,th {
  border:1px solid #333;
  padding:8px;
}
